venv_tron/
.env
.env.dev
.env.prod
.env.test
.gitignore
client.py
docker-compose.dev.yaml
docker-compose.test.yaml
docker-compose.yaml
docker-compose.yml
Dockerfile
exper.py
exper_1.py
README.md
*__pycache__/
.idea/

